:host ::ng-deep .p-button.p-button-text {
  color: #4b5563 !important;
}

  p .p-button-icon {
  color: #fff !important;
}

/* En app-modal.component.css */
:host ::ng-deep .p-dialog {
  width: 600px !important;
  min-height: 500px;
}
::ng-deep .color-boton{
  background-color: var(--blue3-color) !important;
  border: none !important;
}