<p-toolbar class="bg-white text-gray-700 shadow-2xl">
    <div class="flex items-center justify-between w-full">
    
      <div class="flex items-center">
        <h1 class="text-lg font-semibold text-gray-700">¡Hola, Buenos Días!</h1>
      </div>
      
      <div class="flex items-center space-x-3">
        <button
          pButton
          icon="pi pi-calendar"
          label="Calendario"
          class="p-button-rounded p-button-text text-gray-700"
        ></button>
        <button
          pButton
          icon="pi pi-bell"
          label="Notificaciones"
          class="p-button-rounded p-button-text text-gray-700"
        ></button>
        
      </div>
    </div>
  </p-toolbar>