:host {
  display: block;
}

.flex-wrap {
  flex-wrap: wrap;
  gap: 1rem;
}

.pi {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
::ng-deep .compact-carousel {
    width: calc(100% - 140px); /* Restamos el ancho del botón + margen */
  }
  
  ::ng-deep .compact-carousel .p-carousel-item {
    margin: 0 0.25rem !important;
  }
  
  ::ng-deep .compact-carousel .p-carousel-prev,
  ::ng-deep .compact-carousel .p-carousel-next {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.10rem;
  }