<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>

<h3 class="text-2xl font-bold mb-4 flex justify-center items-center">
  Mis Metas
</h3>
<div class="flex justify-end mt-6">
  <p-button
    label="Crear Meta"
    icon="pi pi-check"
    (click)="openCreateGoalModal()"
    styleClass="boton-azul"
  ></p-button>
</div>

<div *ngIf="goals.length > 0" class="grid gap-4 mt-4">
  <p-card
    *ngFor="let goal of goals"
    class="shadow-2xl relative shadow-lg border border-gray-200"
  >
  <div class="absolute top-2 right-2 flex items-center gap-4">
    <div class="flex items-center text-base text-gray-600 gap-1">
      <span>🔥</span>
      <span>{{ goal.currentStreak || 0 }} días</span>
    </div>
  
    <span
      class="text-xs font-semibold px-2 py-1 rounded-full"
      [ngClass]="{
        'bg-green-100 text-green-700': goal.goalStatus === 'ACTIVE',
        'bg-yellow-100 text-yellow-800': goal.goalStatus === 'COMPLETED',
        'bg-red-100 text-red-700': goal.goalStatus === 'EXPIRED'
      }"
    >
      {{ goal.goalStatus }}
    </span>
  
    <p-button
      icon="pi pi-ellipsis-v"
      styleClass="puntitos"
      (click)="openMenu($event, goal)"
    ></p-button>
  </div>
  

    <h2 class="mb-10 font-extrabold">{{ goal.name }}</h2>
    <div class="text-sm text-gray-600 mb-8">
      <p>
        <i class="pi pi-clock mr-2"></i>Frecuencia de Abono:
        {{ getFrequencyLabel(goal.depositFrequency) }}
      </p>
      <p>
        <i class="pi pi-bell mr-2"></i>Se recomienda abonar
        {{ calculateSuggestedAmountForGoal(goal) }}
        {{ getFrequencyLabel(goal.depositFrequency).toLowerCase() }}
      </p>
    </div>

    <div class="mb-3 relative">
      <p-progressBar [value]="goal.progressValue"></p-progressBar>
      <div class="absolute bottom-[-1.5rem] left-0 text-sm text-gray-600">
        ${{ goal.currentBalance }}/${{ goal.targetAmount }}
      </div>
      <div class="absolute top-[-1.5rem] right-0 text-sm text-gray-600">
        {{ goal.deadline | date : "dd/MM/yyyy" }}
      </div>
    </div>
    <div class="flex justify-center items-center gap-100">
      <p-button
        styleClass="w-80 boton-negro"
        icon="pi pi-wallet"
        label="Agregar Fondos"
        (click)="selectGoal(goal)"
      ></p-button>
    
    </div>
  </p-card>
  <p-menu
    #menu
    [popup]="true"
    [model]="menuItems"
    [appendTo]="'body'"
    styleClass="shadow-lg border border-gray-200 custom-menu"
  ></p-menu>
</div>

<div *ngIf="goals.length === 0" class="text-center text-gray-600 mt-10">
  <p>No tienes metas de ahorro. ¡Crea una nueva meta para empezar!</p>
</div>

<p-dialog
  [(visible)]="displayCreateGoalModal"
  [modal]="true"
  [style]="{ width: '550px' }"
  [contentStyle]="{ 'overflow-y': 'visible' }"
  styleClass="create-goal-modal"
  [draggable]="false"
  [closable]="true"
  [dismissableMask]="true"
  [showHeader]="true"
  header="{{ isEditing ? 'Actualizar Meta' : 'Crear Meta' }}"
>
  <form>
    <div
      class="p-6 bg-gradient-to-br from-blue-50 to-purple-50 rounded-lg shadow-lg"
    >
      <div class="space-y-4">
        <div>
          <label
            for="goalName"
            class="block text-sm font-medium text-gray-700 mb-1"
            >Nombre de la Meta</label
          >
          <input
            id="goalName"
            name="goalName"
            type="text"
            pInputText
            [(ngModel)]="newGoal.name"
            class="w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"
            placeholder="Ej. Viaje a Europa"
            [required]="true"
          />
          <small
            *ngIf="!newGoal.name && formSubmitted"
            class="text-red-500 text-xs"
            >Este campo es obligatorio</small
          >
        </div>
        <div>
          <label
            for="goalAmount"
            class="block text-sm font-medium text-gray-700 mb-1"
            >Monto Total ($)</label
          >
          <input
            id="goalAmount"
            name="goalAmount"
            type="number"
            pInputText
            [(ngModel)]="newGoal.targetAmount"
            class="w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"
            placeholder="Ej. 5000"
            min="0"
            [required]="true"
          />
          <small
            *ngIf="!newGoal.targetAmount && formSubmitted"
            class="text-red-500 text-xs"
            >Este campo es obligatorio</small
          >
        </div>
        <div>
          <label
            for="goalDeadline"
            class="block text-sm font-medium text-gray-700 mb-1"
            >Fecha Límite</label
          >
          <p-calendar
            id="goalDeadline"
            name="goalDeadline"
            [(ngModel)]="newGoal.deadline"
            dateFormat="dd/mm/yy"
            [showIcon]="true"
            [minDate]="today"
            styleClass="w-full custom-calendar"
          ></p-calendar>
          <small
            *ngIf="!newGoal.deadline && formSubmitted"
            class="text-red-500 text-xs"
            >Este campo es obligatorio</small
          >
        </div>
        <div>
          <label
            for="goalFrequency"
            class="block text-sm font-medium text-gray-700 mb-1"
            >Frecuencia de Abono</label
          >
          <div class="flex gap-3">
            <p-dropdown
              id="goalFrequency"
              name="goalFrequency"
              [(ngModel)]="newGoal.depositFrequency"
              [options]="frequencies"
              placeholder="Selecciona una frecuencia"
              styleClass="w-full rounded-lg"
              (onChange)="onFrequencyChange()"
            ></p-dropdown>
            <input
              type="text"
              pInputText
              [value]="suggestedAmount"
              class="w-32 p-2 border border-gray-300 rounded-lg text-center font-semibold text-gray-600"
              placeholder="$0.00"
              disabled
            />
          </div>
          <small
            *ngIf="!newGoal.depositFrequency && formSubmitted"
            class="text-red-500 text-xs"
            >Este campo es obligatorio</small
          >
        </div>
      </div>
      <div class="mt-6 flex justify-end gap-3">
        <p-button
          label="Cancelar"
          styleClass="boton-cancelar"
          (click)="displayCreateGoalModal = false"
        ></p-button>
        <p-button
          label="{{ isEditing ? 'Guardar Cambios' : 'Crear Meta' }}"
          styleClass="boton-crear"
          (click)="saveGoal()"
        ></p-button>
      </div>
    </div>
  </form>
</p-dialog>

<p-dialog
  [(visible)]="displayAddPaymentModal"
  [modal]="true"
  [style]="{ width: '400px' }"
  styleClass="add-payment-modal"
  [draggable]="false"
  [closable]="true"
  [dismissableMask]="true"
  [showHeader]="true"
  header="Agregar Abono "
>
  <form>
    <div
      class="p-6 bg-gradient-to-br from-blue-50 via-blue-100 to-indigo-50 rounded-xl shadow-2xl border border-gray-100 transform transition-all duration-300 hover:shadow-xl"
    >
      <div class="space-y-6">
        <div>
          <label
            for="paymentAmount"
            class="block text-sm font-semibold text-gray-800 mb-2 uppercase tracking-wide"
            >Monto a Abonar ($)</label
          >
          <input
            id="paymentAmount"
            name="paymentAmount"
            type="number"
            pInputText
            [(ngModel)]="paymentAmount"
            class="w-full p-3 border border-gray-200 rounded-lg focus:ring-2 focus:ring-indigo-400 focus:border-indigo-400 transition-all duration-300 text-center text-xl font-extrabold text-gray-900 bg-white placeholder-gray-400 shadow-inner"
            placeholder="Ej. 100"
            min="1"
          />
        </div>
      </div>
      <div class="mt-8 flex justify-end gap-4">
        <p-button
          label="Cancelar"
          styleClass="boton-cancelar"
          (click)="displayAddPaymentModal = false"
        ></p-button>
        <p-button
          label="Confirmar Abono"
          styleClass="boton-crear"
          (click)="addPayment()"
        ></p-button>
      </div>
    </div>
  </form>
</p-dialog>
