<h3 class="text-2xl font-bold mb-4 justify-center items-center">Mis Metas</h3>
<p-card styleClass="w-full mt-10 shadow-2xl" >
  <h2 class="mb-10">Viaje</h2>
    <div class="mb-3">
      <p-progressBar [value]="50" styleClass="" >
        
      </p-progressBar>
    </div>
    <div class="flex justify-center items-center gap-100">
     
          <p-button styleClass=" w-80 boton-negro"   icon="pi pi-wallet" label="Agregar Fondos"></p-button>
          <p-button styleClass="w-80 boton-negro" icon="pi pi-cog" label="Editar Frecuencia"></p-button>
      
      </div>
    
  </p-card>


