<div
  class="h-screen w-[70px] hover:w-60 transition-all duration-300 bg-gray-900 text-white overflow-hidden shadow-lg flex flex-col justify-between">
  <div>
    <div class="flex justify-center py-4  items-center">
      <img src="../../../../assets/images/logo.png" class="w-12 h-12 p">
      
    </div>
    <ul class="p-2 space-y-2">
      <li *ngFor="let item of listMenu">
        <a [routerLink]="item.url"
          class="flex items-center space-x-6 p-2 rounded hover:bg-gray-800 transition-all duration-200 pl-4">
          <i [class]="item.icon"></i>
          <span
            class="whitespace-nowrap overflow-hidden transition-opacity duration-300 opacity-0 group-hover:opacity-100 sm:opacity-100">
            {{ item.title }}
          </span>
        </a>
      </li>
    </ul>
  </div>

  <div class="p-2 bottom-0 left-0 right-0">
    <a class="flex items-center space-x-6 p-2 rounded hover:bg-gray-800 transition-all duration-200 cursor-pointer pl-4">
      <i class="pi pi-sign-out"></i>
      <span
        class="whitespace-nowrap overflow-hidden transition-opacity duration-300 opacity-0 group-hover:opacity-100 sm:opacity-100">
        Cerrar sesión
      </span>
    </a>
  </div>
</div>