
<div class="bg-gray-100 text-gray-900 p-6">

    <div class="flex justify-between items-center mb-6">
      <h1 class="text-2xl font-semibold text-gray-900">Lista de Cuentas</h1>
      <app-button icon="pi pi-plus" label="Nueva Cuenta" raised="true"/>
    </div>
  
    <div class="flex flex-wrap gap-4 mb-6 items-end">
      <app-custom-input
      
        [label]="'Nombre de cuenta'"
        [placeholder]="'Buscar por nombre...'"
      />
  
      <app-select
      
        [options]="tipos"
        checkmark="true"
        showClear="true"
        placeholder="Filtrar por tipo"
        optionLabel="name"
      />
    </div>
    
    <app-table
    [data]="data"
      [metadataColumns]="metadataColumns"
      paginator="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 20]"
      color="'bg-white border-gray-300 shadow-md rounded-lg'"
    >
    </app-table>
  </div>
  