@import "tailwindcss";
 @import "primeicons/primeicons.css";      
 
body {
    font-family: 'Montserrat', sans-serif;
    
}
:root {
    
    --blue-color: #002f4a;
    --sky-color:#41a6a8;
    --blue2-color:#00517A;
    --gray-color: #d0d1d280;
    --bluelight-color: #00517a2f;
    --blue3-color: #008cce;
}
  
